<app-navigation></app-navigation>

<div class="container">
    <br />
    <mat-card>
        <mat-card-title>Proyecto</mat-card-title>
        <br />
        <mat-card-actions>
            <form class="form-horizontal" #proyectoForm="ngForm" (ngSubmit)="save()">
                <div class="mb-3 row">
                    <label for="inputCliente" class="col-sm-2 col-form-label">Cliente</label>
                    <div class="col-sm-10">
                        <ng-select [items]="clientes" [(ngModel)]="proyecto.idCliente" #inputCliente="ngModel"
                            name="inputCliente" placeholder="Selecciona un cliente" bindValue="idCliente"
                            bindLabel="nombre" required>
                        </ng-select>
                        <div *ngIf="inputCliente.invalid && (proyectoForm.submitted || inputCliente.dirty || inputCliente.touched)"
                            class="alert alert-danger">
                            <div>Cliente es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="proyecto.nombre" #inputNombre="ngModel"
                            id="inputNombre" name="inputNombre" placeholder="Nombre proyecto" required>
                        <div *ngIf="inputNombre.invalid && (proyectoForm.submitted || inputNombre.dirty || inputNombre.touched)"
                            class="alert alert-danger">
                            <div>Nombre es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputDescripcion" class="col-sm-2 col-form-label">Descripción</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" [(ngModel)]="proyecto.descripcion"
                            placeholder="Descripción del proyecto" #inputDescripcion="ngModel" id="inputDescripcion"
                            name="inputDescripcion" required>
                        </textarea>
                        <div *ngIf="inputDescripcion.invalid && (proyectoForm.submitted || inputDescripcion.dirty || inputDescripcion.touched)"
                            class="alert alert-danger">
                            <div>Descripción es requerido</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="tieneError" class="mb-3 row">
                    <div class="alert alert-danger">
                        <div>{{error}}</div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit"> Guardar</button>&nbsp;&nbsp;
                <a (click)="navegar('/proyectos')" class="btn btn-secondary" type="button"> Atras </a>
            </form>
            <br />
        </mat-card-actions>
    </mat-card>
</div>