<app-navigation></app-navigation>

<div class="container">
    <br />
    <mat-card>
        <mat-card-title>Factura</mat-card-title>
        <br />
        <mat-card-actions>
            <form class="form-horizontal" #facturaForm="ngForm" (ngSubmit)="save()">
                <div class="mb-3 row">
                    <label for="inputCliente" class="col-sm-2 col-form-label">Cliente</label>
                    <div class="col-sm-10">
                        <ng-select [items]="clientes" [(ngModel)]="factura.idCliente" #inputCliente="ngModel"
                            name="inputCliente" placeholder="Selecciona un cliente" bindValue="idCliente"
                            bindLabel="nombre" (change)="obtenerProyectosPorCliente($event)">
                        </ng-select>
                        <div *ngIf="inputCliente.invalid && (facturaForm.submitted || inputCliente.dirty || inputCliente.touched)"
                            class="alert alert-danger">
                            <div>Cliente es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputProyecto" class="col-sm-2 col-form-label">Proyecto</label>
                    <div class="col-sm-10">
                        <ng-select [items]="proyectos" [(ngModel)]="factura.idProyecto" #inputProyecto="ngModel"
                            bindValue="idProyecto" bindLabel="nombre" placeholder="Selecciona un proyecto"
                            name="inputProyecto" required>
                        </ng-select>
                        <div *ngIf="inputProyecto.invalid && (facturaForm.submitted || inputProyecto.dirty || inputProyecto.touched)"
                            class="alert alert-danger">
                            <div>Proyecto es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputTipo" class="col-sm-2 col-form-label">Tipo Factura</label>
                    <div class="col-sm-10">
                        <ng-select [items]="tipos" [(ngModel)]="factura.tipo" #inputTipo="ngModel"
                            placeholder="Selecciona un tipo" name="inputTipo" required>
                        </ng-select>
                        <div *ngIf="inputTipo.invalid && (facturaForm.submitted || inputTipo.dirty || inputTipo.touched)"
                            class="alert alert-danger">
                            <div>Tipo es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputNumeroFactura" class="col-sm-2 col-form-label">Número Factura</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="factura.numeroFactura" placeholder="Número Factura"
                            #inputNumeroFactura="ngModel" id="inputNumeroFactura" name="inputNumeroFactura" required>
                        <div *ngIf="inputNumeroFactura.invalid && (facturaForm.submitted || inputNumeroFactura.dirty || inputNumeroFactura.touched)"
                            class="alert alert-danger">
                            <div>Número Factura es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputMonto" class="col-sm-2 col-form-label">Monto</label>
                    <div class="col-sm-10">
                        <div class="input-group mb-2">
                            <span class="input-group-text">€</span>
                            <input type="text" class="form-control" [(ngModel)]="factura.monto" #inputMonto="ngModel"
                                id="inputMonto" name="inputMonto" mask="separator.2" placeholder="0 000,00" required>
                        </div>
                        <div *ngIf="inputMonto.invalid && (facturaForm.submitted || inputMonto.dirty || inputMonto.touched)"
                            class="alert alert-danger">
                            <div>Monto es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputFechaPago" class="col-sm-2 col-form-label">Fecha Pago</label>
                    <div class="col-md-5">
                        <div class="input-group mb-2">
                            <span class="input-group-text">dd/mm/aaaa</span>
                            <input matInput [matDatepicker]="fechaPago" [(ngModel)]="factura.fechaPago"
                                #inputFechaPago="ngModel" name="inputFechaPago" class="form-control" name="fechaPago"
                                placeholder="Selecciona una fecha" required>
                            <mat-datepicker-toggle matSuffiX [for]="fechaPago"></mat-datepicker-toggle>
                            <mat-datepicker #fechaPago></mat-datepicker>
                        </div>
                        <div *ngIf="inputFechaPago.invalid && (facturaForm.submitted || inputFechaPago.dirty || inputFechaPago.touched)"
                            class="alert alert-danger">
                            <div>Fecha pago es requerido</div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit"> Guardar</button>&nbsp;&nbsp;
                <a (click)="navegar('/facturas')" class="btn btn-secondary" type="button"> Atras </a>
            </form>
            <br />
        </mat-card-actions>
    </mat-card>
</div>