<app-navigation></app-navigation>

<div class="container">
    <br />
    <mat-card class="shadow">
        <mat-card-title *ngIf="factura.idFactura === undefined">Crear Factura</mat-card-title>
        <mat-card-title *ngIf="factura.idFactura !== undefined">Editar Factura</mat-card-title>
        <mat-card-subtitle class="subtitle-detal">
            Ingresa todos los campos requeridos y presiona guardar para registrar la factura ó presiona atras para
            regresar a la pantalla anterior.
        </mat-card-subtitle>
        <br />
        <mat-card-actions>
            <form class="form-horizontal" #facturaForm="ngForm" (ngSubmit)="guardar()">
                <div class="mb-3 row">
                    <label for="inputCliente" class="col-sm-2 col-form-label">Cliente</label>
                    <div class="col-sm-10">
                        <ng-select [items]="clientes" [(ngModel)]="factura.idCliente" #inputCliente="ngModel"
                            name="inputCliente" placeholder="Selecciona un cliente" bindValue="idCliente"
                            bindLabel="nombre" (change)="obtenerProyectosPorCliente($event)">
                        </ng-select>
                        <div *ngIf="inputCliente.invalid && (facturaForm.submitted || inputCliente.dirty || inputCliente.touched)"
                            class="alert alert-danger">
                            <div>Cliente es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputProyecto" class="col-sm-2 col-form-label">Proyecto</label>
                    <div class="col-sm-10">
                        <ng-select [items]="proyectos" [(ngModel)]="factura.idProyecto" #inputProyecto="ngModel"
                            bindValue="idProyecto" bindLabel="nombre" placeholder="Selecciona un proyecto"
                            name="inputProyecto" required>
                        </ng-select>
                        <div *ngIf="inputProyecto.invalid && (facturaForm.submitted || inputProyecto.dirty || inputProyecto.touched)"
                            class="alert alert-danger">
                            <div>Proyecto es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputNumeroFactura" class="col-sm-2 col-form-label">Número Factura</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="factura.numeroFactura"
                            placeholder="Número Factura" #inputNumeroFactura="ngModel" id="inputNumeroFactura"
                            name="inputNumeroFactura" required>
                        <div *ngIf="inputNumeroFactura.invalid && (facturaForm.submitted || inputNumeroFactura.dirty || inputNumeroFactura.touched)"
                            class="alert alert-danger">
                            <div>Número Factura es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputMonto" class="col-sm-2 col-form-label">Monto</label>
                    <div class="col-sm-10">
                        <div class="input-group mb-2">
                            <span class="input-group-text">€</span>
                            <input type="text" class="form-control" [(ngModel)]="factura.monto" #inputMonto="ngModel"
                                id="inputMonto" name="inputMonto" mask="separator.2" placeholder="0 000,00" required>
                        </div>
                        <div *ngIf="inputMonto.invalid && (facturaForm.submitted || inputMonto.dirty || inputMonto.touched)"
                            class="alert alert-danger">
                            <div>Monto es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputFechaInicio" class="col-sm-2 col-form-label">Fecha Inicio</label>
                    <div class="col-md-5">
                        <div class="input-group mb-2">
                            <span class="input-group-text">dd/mm/aaaa</span>
                            <input matInput [matDatepicker]="fechaInicio" [(ngModel)]="factura.fechaInicio"
                                #inputFechaInicio="ngModel" name="inputFechaInicio" class="form-control"
                                name="fechaInicio" placeholder="Selecciona una fecha" required>
                            <mat-datepicker-toggle matSuffiX [for]="fechaInicio"></mat-datepicker-toggle>
                            <mat-datepicker #fechaInicio></mat-datepicker>
                        </div>
                        <div *ngIf="inputFechaInicio.invalid && (facturaForm.submitted || inputFechaInicio.dirty || inputFechaInicio.touched)"
                            class="alert alert-danger">
                            <div>Fecha inicio es requerido</div>
                        </div>
                        <div *ngIf="factura.fechaInicio < fechaActual" class="alert alert-warning">
                            <div>Fecha ingresada menor a la actual</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputFechaFin" class="col-sm-2 col-form-label">Fecha Fin</label>
                    <div class="col-md-5">
                        <div class="input-group mb-2">
                            <span class="input-group-text">dd/mm/aaaa</span>
                            <input matInput [matDatepicker]="fechaFin" [(ngModel)]="factura.fechaFin"
                                #inputFechaFin="ngModel" name="inputFechaFin" class="form-control" name="fechaFin"
                                placeholder="Selecciona una fecha" (dateChange)="cambioFechaFin( $event)" required>
                            <mat-datepicker-toggle matSuffiX [for]="fechaFin"></mat-datepicker-toggle>
                            <mat-datepicker #fechaFin></mat-datepicker>
                        </div>
                        <div *ngIf="inputFechaFin.invalid && (facturaForm.submitted || inputFechaFin.dirty || inputFechaFin.touched)"
                            class="alert alert-danger">
                            <div>Fecha fin es requerido</div>
                        </div>
                        <div *ngIf="!fechaFinIgualSugerida" class="alert alert-warning">
                            <div>Fecha ingresada diferente a la sugerida ({{fechaSugerida | date:'dd/MM/yyyy'}}).</div>
                        </div>
                        <div *ngIf="inputFechaFin.hasError('matDatepickerParse')" class="alert alert-danger">
                            <div> La fecha esta en formato incorrecto. </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit"> Guardar</button>&nbsp;&nbsp;
                <a (click)="navegar('/facturas')" class="btn btn-secondary" type="button"> Atras </a>
            </form>
            <br />
        </mat-card-actions>
    </mat-card>
</div>