<app-navigation></app-navigation>

<div class="container">
    <br />
    <mat-card class="shadow">
        <mat-card-title *ngIf="factura.idFactura === undefined">Crear Factura</mat-card-title>
        <mat-card-title *ngIf="factura.idFactura !== undefined">Editar Factura</mat-card-title>
        <mat-card-subtitle class="subtitle-detal">
            Ingresa todos los campos requeridos y presiona guardar para registrar la factura ó presiona atras para
            regresar a la pantalla anterior.
        </mat-card-subtitle>
        <br />
        <mat-card-actions>
            <form class="form-horizontal" #facturaForm="ngForm" (ngSubmit)="guardar()">
                <div class="mb-3 row">
                    <label for="inputCliente" class="col-sm-2 col-form-label">Cliente</label>
                    <div class="col-sm-10">
                        <ng-select [items]="clientes" [(ngModel)]="factura.idCliente" #inputCliente="ngModel"
                            name="inputCliente" placeholder="Selecciona un cliente" bindValue="idCliente"
                            bindLabel="nombre" (change)="obtenerProyectosPorCliente($event)">
                        </ng-select>
                        <div *ngIf="inputCliente.invalid && (facturaForm.submitted || inputCliente.dirty || inputCliente.touched)"
                            class="alert alert-danger">
                            <div>Cliente es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputProyecto" class="col-sm-2 col-form-label">Proyecto</label>
                    <div class="col-sm-10">
                        <ng-select [items]="proyectos" [(ngModel)]="factura.idProyecto" #inputProyecto="ngModel"
                            bindValue="idProyecto" bindLabel="nombre" placeholder="Selecciona un proyecto"
                            name="inputProyecto" required>
                        </ng-select>
                        <div *ngIf="inputProyecto.invalid && (facturaForm.submitted || inputProyecto.dirty || inputProyecto.touched)"
                            class="alert alert-danger">
                            <div>Proyecto es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputNumeroFactura" class="col-sm-2 col-form-label">Número Factura</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="factura.numeroFactura"
                            placeholder="Número Factura" #inputNumeroFactura="ngModel" id="inputNumeroFactura"
                            (change)="existeNumeroFacturaFuncion(factura.numeroFactura)" name="inputNumeroFactura"
                            required>
                        <div *ngIf="inputNumeroFactura.invalid && (facturaForm.submitted || inputNumeroFactura.dirty || inputNumeroFactura.touched)"
                            class="alert alert-danger">
                            <div>Número Factura es requerido</div>
                        </div>
                        <div *ngIf="existeNumeroFactura" class="alert alert-danger">
                            <div>Ya existe una factura con ese número</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputImporte" class="col-sm-2 col-form-label">Importe</label>
                    <div class="col-lg-3 col-md-5 col-sm-10">
                        <div class="input-group mb-2">
                            <span class="input-group-text" style="color: blue">(+) €</span>
                            <input type="text" class="form-control" [(ngModel)]="factura.monto" #inputImporte="ngModel"
                                id="inputImporte" name="inputImporte" mask="separator.2" placeholder="0 000,00" required
                                style="text-align: right;" (blur)="calcularImpuestos()">
                        </div>
                        <div *ngIf="inputImporte.invalid && (facturaForm.submitted || inputImporte.dirty || inputImporte.touched)"
                            class="alert alert-danger">
                            <div>Importe es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputRetencion" class="col-sm-2 col-form-label">Retención</label>
                    <div class="col-lg-3 col-md-5 col-sm-10">
                        <div class="input-group mb-2">
                            <span class="input-group-text" style="color: red">( -) €</span>
                            <input type="text" class="form-control" [(ngModel)]="factura.retencion"
                                #inputRetencion="ngModel" id="inputRetencion" name="inputRetencion" mask="separator.2"
                                placeholder="0 000,00" required style="text-align: right;" (blur)="cambioInpuestos()">
                        </div>
                        <div *ngIf="inputRetencion.invalid && (facturaForm.submitted || inputRetencion.dirty || inputRetencion.touched)"
                            class="alert alert-danger">
                            <div>Retención es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputIva" class="col-sm-2 col-form-label">Iva</label>
                    <div class="col-lg-3 col-md-5 col-sm-10">
                        <div class="input-group mb-2">
                            <span class="input-group-text"  style="color: blue">(+) €</span>
                            <input type="text" class="form-control" [(ngModel)]="factura.iva" #inputIva="ngModel"
                                id="inputIva" name="inputIva" mask="separator.2" placeholder="0 000,00" required
                                style="text-align: right;" [disabled]="true">
                        </div>
                        <div *ngIf="inputIva.invalid && (facturaForm.submitted || inputIva.dirty || inputIva.touched)"
                            class="alert alert-danger">
                            <div>Iva es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputTotal" class="col-sm-2 col-form-label">Total</label>
                    <div class="col-lg-3 col-md-5 col-sm-10">
                        <div class="input-group mb-2">
                            <span class="input-group-text">€</span>
                            <input type="text" class="form-control" [(ngModel)]="factura.total" #inputTotal="ngModel"
                                id="inputTotal" name="inputTotal" mask="separator.2" placeholder="0 000,00" required
                                style="text-align: right;" [disabled]="true">
                        </div>
                        <div *ngIf="inputTotal.invalid && (facturaForm.submitted || inputTotal.dirty || inputTotal.touched)"
                            class="alert alert-danger">
                            <div>Total es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputFechaInicio" class="col-sm-2 col-form-label">Fecha Inicio</label>
                    <div class="col-md-5">
                        <div class="input-group mb-2">
                            <span class="input-group-text">dd/mm/aaaa</span>
                            <input matInput [matDatepicker]="fechaInicio" [(ngModel)]="factura.fechaInicio"
                                #inputFechaInicio="ngModel" name="inputFechaInicio" class="form-control"
                                name="fechaInicio" placeholder="Selecciona una fecha" required>
                            <mat-datepicker-toggle matSuffiX [for]="fechaInicio"></mat-datepicker-toggle>
                            <mat-datepicker #fechaInicio></mat-datepicker>
                        </div>
                        <div *ngIf="inputFechaInicio.invalid && (facturaForm.submitted || inputFechaInicio.dirty || inputFechaInicio.touched)"
                            class="alert alert-danger">
                            <div>Fecha inicio es requerido</div>
                        </div>
                        <div *ngIf="factura.fechaInicio < fechaActual" class="alert alert-warning">
                            <div>Fecha ingresada menor a la actual</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputFechaFin" class="col-sm-2 col-form-label">Fecha Fin</label>
                    <div class="col-md-5">
                        <div class="input-group mb-2">
                            <span class="input-group-text">dd/mm/aaaa</span>
                            <input matInput [matDatepicker]="fechaFin" [(ngModel)]="factura.fechaFin"
                                #inputFechaFin="ngModel" name="inputFechaFin" class="form-control" name="fechaFin"
                                placeholder="Selecciona una fecha" (dateChange)="cambioFechaFin( $event)" required>
                            <mat-datepicker-toggle matSuffiX [for]="fechaFin"></mat-datepicker-toggle>
                            <mat-datepicker #fechaFin></mat-datepicker>
                        </div>
                        <div *ngIf="inputFechaFin.invalid && (facturaForm.submitted || inputFechaFin.dirty || inputFechaFin.touched)"
                            class="alert alert-danger">
                            <div>Fecha fin es requerido</div>
                        </div>
                        <div *ngIf="!fechaFinIgualSugerida" class="alert alert-warning">
                            <div>Fecha ingresada diferente a la sugerida ({{fechaSugerida | date:'dd/MM/yyyy'}}).</div>
                        </div>
                        <div *ngIf="inputFechaFin.hasError('matDatepickerParse')" class="alert alert-danger">
                            <div> La fecha esta en formato incorrecto. </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit"> Guardar</button>&nbsp;&nbsp;
                <a (click)="navegar('/facturas')" class="btn btn-secondary" type="button"> Atras </a>
            </form>
            <br />
        </mat-card-actions>
    </mat-card>
</div>