<app-navigation></app-navigation>

<div class="container">
    <br />
    <mat-card class="shadow">
        <mat-card-title>Proyectos Anuales</mat-card-title>

        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Pendientes">
                <mat-card-actions>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3 col-form-label">Cliente:
                                </label>
                                <div class="col-md-9">
                                    <ng-select [items]="clientes" [(ngModel)]="garantia.idCliente"
                                        #inputCliente="ngModel" name="inputCliente" placeholder="Selecciona un cliente"
                                        bindValue="idCliente" bindLabel="nombre"
                                        (change)="obtenerProyectosPorCliente($event)"
                                        (ngModelChange)="filtrarLista($event)" (paste)="filtrarLista($event)">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3 col-form-label">Proyecto:
                                </label>
                                <div class="col-md-9">
                                    <ng-select [items]="proyectos" [(ngModel)]="garantia.idProyecto"
                                        #inputProyecto="ngModel" bindValue="idProyecto" bindLabel="nombre"
                                        placeholder="Selecciona un proyecto" name="inputProyecto"
                                        (ngModelChange)="filtrarLista($event)" (paste)="filtrarLista($event)">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3 col-form-label">Periodo:
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group mb-2">
                                        <span class="input-group-text">mm/aaaa</span>
                                        <input matInput [matDatepicker]="periodo" [(ngModel)]="periodoInput"
                                            #inputFechaInicio="ngModel" name="inputFechaInicio" class="form-control"
                                            (change)="filtrarListaFecha($event)" (paste)="filtrarListaFecha($event)"
                                            name="periodo" placeholder="Selecciona una fecha" required>
                                        <mat-datepicker-toggle matSuffiX [for]="periodo"></mat-datepicker-toggle>
                                        <mat-datepicker #periodo startView="year"
                                            (monthSelected)="setMonthAndYear($event, periodo)"></mat-datepicker>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3 col-form-label">Vista:
                                </label>
                                <div class="col-md-9">
                                    <mat-radio-group aria-label="Select an option" [(ngModel)]="tipoVistaInput"
                                        #tipoVista="ngModel" name="tipoVista" (change)="cambioRadioButton()">
                                        <mat-radio-button value="garantia">Garantías</mat-radio-button>
                                        <mat-radio-button value="factura">Facturas</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-actions>
                <mat-card-actions class="overflow-auto">
                    <span *ngIf="tipoVistaInput === 'garantia'">
                        <button *ngIf="this.selectionGarantias.selected.length > 0" class="btn btn-success"
                            type="button" (click)="cerrarVariasGarantiasConfirmacion()">
                            Cerrar Garantias
                        </button>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <mat-checkbox (change)="$event ? masterToggleGarantias() : null;"
                                            [checked]="selectionGarantias.hasValue() && isAllSelectedGarantias()"
                                            [indeterminate]="selectionGarantias.hasValue() && !isAllSelectedGarantias()">
                                        </mat-checkbox>
                                    </th>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Proyecto</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Fecha Devolución</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let garantia of garantiasFiltro | slice: (page-1) * pageSize : page * pageSize">
                                    <td>
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selectionGarantias.toggle(garantia) : null;"
                                            [checked]="selectionGarantias.isSelected(garantia)">
                                        </mat-checkbox>
                                    </td>
                                    <td>{{ garantia.nombreCliente }}</td>
                                    <td>{{ garantia.nombreProyecto }} </td>
                                    <td class="text-end">{{ garantia.total | number:'.2-2' }} </td>
                                    <td>{{ garantia.fechaDevolucion | date:'dd/MMM/yyyy' }}</td>
                                    <td class="btn-table">
                                        <button class="btn btn-success" type="button"
                                            *ngIf="this.selectionGarantias.selected.length === 0"
                                            (click)="cerrarGarantiaConfirmacion(garantia)">
                                            Cerrar
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ngb-pagination class="d-flex justify-content-end" [collectionSize]="garantiasFiltro.length"
                            [(page)]="page" [boundaryLinks]="true" [pageSize]="pageSize">
                            <ng-template ngbPaginationPrevious>Atras</ng-template>
                            <ng-template ngbPaginationNext>Sig.</ng-template>
                        </ngb-pagination>
                    </span>
                    <span *ngIf="tipoVistaInput === 'factura'">
                        <button *ngIf="this.selectionFacturas.selected.length > 0" class="btn btn-success" type="button"
                            (click)="cerrarVariasFacturasConfirmacion()">
                            Cerrar Facturas
                        </button>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <mat-checkbox (change)="$event ? masterToggleFacturas() : null;"
                                            [checked]="selectionFacturas.hasValue() && isAllSelectedFacturas()"
                                            [indeterminate]="selectionFacturas.hasValue() && !isAllSelectedFacturas()">
                                        </mat-checkbox>
                                    </th>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Proyecto</th>
                                    <th scope="col">Número Factura</th>
                                    <th scope="col">Importe</th>
                                    <th scope="col">Fecha Fin</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let factura of facturasFiltro | slice: (page-1) * pageSize : page * pageSize">
                                    <td>
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selectionFacturas.toggle(factura) : null;"
                                            [checked]="selectionFacturas.isSelected(factura)">
                                        </mat-checkbox>
                                    </td>
                                    <td>{{ factura.nombreCliente }}</td>
                                    <td>{{ factura.nombreProyecto }} </td>
                                    <td>{{ factura.numeroFactura }} </td>
                                    <td class="text-end">{{ factura.monto | number:'.2-2' }}</td>
                                    <td>{{ factura.fechaFin | date:'dd/MMM/yyyy' }}</td>
                                    <td class="btn-table">
                                        <button class="btn btn-success" type="button"
                                            *ngIf="this.selectionFacturas.selected.length === 0"
                                            (click)="cerrarFacturaConfirmacion(factura)">
                                            Cerrar
                                        </button>&nbsp;
                                        <button class="btn btn-primary" type="button"
                                            *ngIf="factura.estadoProyecto === 'cerrado' && factura.rankFechaFin === 1 && rol === 'admin'"
                                            (click)="abrirProyectoConfirmacion(factura)">
                                            Abrir Proyecto
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ngb-pagination class="d-flex justify-content-end" [collectionSize]="facturasFiltro.length"
                            [(page)]="page" [boundaryLinks]="true" [pageSize]="pageSize">
                            <ng-template ngbPaginationPrevious>Atras</ng-template>
                            <ng-template ngbPaginationNext>Sig.</ng-template>
                        </ngb-pagination>
                    </span>
                    <br />
                </mat-card-actions>
            </mat-tab>
            <mat-tab label="Históricos">
                <mat-card-actions>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3 col-form-label">Cliente:
                                </label>
                                <div class="col-md-9">
                                    <ng-select [items]="clientes" [(ngModel)]="garantiaHis.idCliente"
                                        #inputCliente="ngModel" name="inputCliente" placeholder="Selecciona un cliente"
                                        bindValue="idCliente" bindLabel="nombre"
                                        (change)="obtenerProyectosPorCliente($event)"
                                        (ngModelChange)="filtrarListaHis($event)" (paste)="filtrarLista($event)">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3 col-form-label">Proyecto:
                                </label>
                                <div class="col-md-9">
                                    <ng-select [items]="proyectos" [(ngModel)]="garantiaHis.idProyecto"
                                        #inputProyecto="ngModel" bindValue="idProyecto" bindLabel="nombre"
                                        placeholder="Selecciona un proyecto" name="inputProyecto"
                                        (ngModelChange)="filtrarListaHis($event)" (paste)="filtrarLista($event)">
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3 col-form-label">Periodo:
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group mb-2">
                                        <span class="input-group-text">mm/aaaa</span>
                                        <input matInput [matDatepicker]="periodoHis" [(ngModel)]="periodoInputHis"
                                            #inputFechaInicio="ngModel" name="inputFechaInicio" class="form-control"
                                            (change)="filtrarListaFechaHis($event)"
                                            (paste)="filtrarListaFechaHis($event)" name="periodoHis"
                                            placeholder="Selecciona una fecha" required>
                                        <mat-datepicker-toggle matSuffiX [for]="periodoHis"></mat-datepicker-toggle>
                                        <mat-datepicker #periodoHis startView="year"
                                            (monthSelected)="setMonthAndYearHis($event, periodoHis)"></mat-datepicker>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3 col-form-label">Vista:
                                </label>
                                <div class="col-md-9">
                                    <mat-radio-group aria-label="Select an option" [(ngModel)]="tipoVistaInput"
                                        #tipoVistaHis="ngModel" name="tipoVistaHis">
                                        <mat-radio-button value="garantia">Garantías</mat-radio-button>
                                        <mat-radio-button value="factura">Facturas</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-actions>
                <mat-card-actions class="overflow-auto">
                    <span *ngIf="tipoVistaInput === 'garantia'">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Proyecto</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Fecha Devolución</th>
                                    <th scope="col">Fecha Cierre</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let garantia of garantiasHisFiltro | slice: (page-1) * pageSize : page * pageSize">
                                    <td>{{ garantia.nombreCliente }}</td>
                                    <td>{{ garantia.nombreProyecto }} </td>
                                    <td class="text-end">{{ garantia.toatl | number:'.2-2' }} </td>
                                    <td>{{ garantia.fechaDevolucion | date:'dd/MMM/yyyy' }}</td>
                                    <td>{{ garantia.fechaCierre | date:'dd/MMM/yyyy' }}</td>
                                    <td class="btn-table">
                                        <button *ngIf="rol === 'admin'" class="btn btn-success" type="button"
                                            (click)="abrirGarantiaConfirmacion(garantia)">
                                            Abrir
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ngb-pagination class="d-flex justify-content-end" [collectionSize]="garantiasHisFiltro.length"
                            [(page)]="page" [boundaryLinks]="true" [pageSize]="pageSize">
                            <ng-template ngbPaginationPrevious>Atras</ng-template>
                            <ng-template ngbPaginationNext>Sig.</ng-template>
                        </ngb-pagination>
                    </span>
                    <span *ngIf="tipoVistaInput === 'factura'">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Proyecto</th>
                                    <th scope="col">Número Factura</th>
                                    <th scope="col">Importe</th>
                                    <th scope="col">Fecha Fin</th>
                                    <th scope="col">Fecha Cierre</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let factura of facturasHisFiltro | slice: (page-1) * pageSize : page * pageSize">
                                    <td>{{ factura.nombreCliente }}</td>
                                    <td>{{ factura.nombreProyecto }} </td>
                                    <td>{{ factura.numeroFactura }} </td>
                                    <td class="text-end">{{ factura.monto | number:'.2-2' }}</td>
                                    <td>{{ factura.fechaFin | date:'dd/MMM/yyyy' }}</td>
                                    <td>{{ factura.fechaCierre | date:'dd/MMM/yyyy' }}</td>
                                    <td class="btn-table">
                                        <button *ngIf="rol === 'admin'" class="btn btn-success" type="button"
                                            (click)="abrirFacturaConfirmacion(factura)">
                                            Abrir
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ngb-pagination class="d-flex justify-content-end" [collectionSize]="facturasHisFiltro.length"
                            [(page)]="page" [boundaryLinks]="true" [pageSize]="pageSize">
                            <ng-template ngbPaginationPrevious>Atras</ng-template>
                            <ng-template ngbPaginationNext>Sig.</ng-template>
                        </ngb-pagination>
                    </span>
                    <br />
                </mat-card-actions>
            </mat-tab>
        </mat-tab-group>

    </mat-card>
</div>