<main class="form-signin">
    <div class="row justify-content-center align-items-center minh-100">
        <form style="background: #FFFFFF;" #loginForm="ngForm" (ngSubmit)="login()">
            <br><br>
            <img class="mb-4" src="/assets/images/logo-grupo-plaza.svg" alt="" width="250" height="120"
                style="margin-left: 20px;">
            <h1 class="h3 mb-3 fw-normal" style="margin-left: 30px; color: rgb(244, 148, 4, 0.8);">Recordatorio Pagos</h1>

            <div class="form-floating">
                <input type="text" [(ngModel)]="usuario.correo" #inputCorreo="ngModel" name="inputCorreo"
                    (change)="refresco()" class="form-control" id="inputCorreo" placeholder="name@example.com" required>
                <label for="inputCorreo">Usuario</label>
            </div>
            <div class="form-floating">
                <input type="password" [(ngModel)]="usuario.contrasena" #inputContrasena="ngModel" (change)="refresco()"
                    name="inputContrasena" class="form-control" id="inputContrasena" placeholder="Password" required>
                <label for="inputContrasena">Contraseña</label>
            </div>
            <div *ngIf="tieneError" class="form-floating">
                <div class="alert alert-danger">
                    <div>{{error}}</div>
                </div>
            </div>
            <button [disabled]="loading" class="w-100 btn btn-lg btn-primary" type="submit">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Ingresar
            </button>
            <br><br>
            <br><br>
        </form>
    </div>
</main>