<app-navigation></app-navigation>

<div class="container">
    <br />
    <mat-card>
        <mat-card-title *ngIf="usuario.idUsuario === undefined">Crear Usuario</mat-card-title>
        <mat-card-title *ngIf="usuario.idUsuario !== undefined">Editar Usuario</mat-card-title>
        <mat-card-subtitle class="subtitle-detal">
            Ingresa todos los campos requeridos y presiona guardar para registrar el usuario ó presiona atras para
            regresar a la pantalla anterior.
        </mat-card-subtitle>
        <br />
        <mat-card-actions>
            <form class="form-horizontal" #usuarioForm="ngForm" (ngSubmit)="save()">
                <div class="mb-3 row">
                    <label for="inputCorreo" class="col-sm-2 col-form-label">Correo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="usuario.correo" #inputCorreo="ngModel"
                            placeholder="correo@email.com" id="inputCorreo" name="inputCorreo" required>
                        <div *ngIf="inputCorreo.invalid && (usuarioForm.submitted || inputCorreo.dirty || inputCorreo.touched)"
                            class="alert alert-danger">
                            <div>Correo es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputNombres" class="col-sm-2 col-form-label">Nombres</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="usuario.nombres" #inputNombres="ngModel"
                            id="inputNombres" name="inputNombres" placeholder="Nombres" required>
                        <div *ngIf="inputNombres.invalid && (usuarioForm.submitted || inputNombres.dirty || inputNombres.touched)"
                            class="alert alert-danger">
                            <div>Apellidos es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputApellidos" class="col-sm-2 col-form-label">Apellidos</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="usuario.apellidos" placeholder="Apellidos"
                            #inputApellidos="ngModel" id="inputApellidos" name="inputApellidos" required>
                        <div *ngIf="inputApellidos.invalid && (usuarioForm.submitted || inputApellidos.dirty || inputApellidos.touched)"
                            class="alert alert-danger">
                            <div>Apellidos es requerido</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputRol" class="col-sm-2 col-form-label">Rol</label>
                    <div class="col-sm-10">
                        <ng-select [items]="roles" [(ngModel)]="usuario.rol" #inputRol="ngModel" name="inputRol"
                            placeholder="Selecciona un rol" required>
                        </ng-select>
                        <div *ngIf="inputRol.invalid && (usuarioForm.submitted || inputRol.dirty || inputRol.touched)"
                            class="alert alert-danger">
                            <div>Rol es requerido</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="tieneError" class="mb-3 row">
                    <div class="alert alert-danger">
                        <div>{{error}}</div>
                    </div>
                </div>
                <button [disabled]="loading" class="btn btn-primary" type="submit">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Guardar
                </button>&nbsp;&nbsp;
                <a (click)="navegar('/usuarios')" class="btn btn-secondary" type="button"> Atras </a>
            </form>
            <br />
        </mat-card-actions>
    </mat-card>
</div>