<app-navigation></app-navigation>

<div class="container">
    <br />
    <mat-card>
        <mat-card-title>Proyectos</mat-card-title>
        <mat-card-actions>
            <a (click)="navegar('/proyectos/editar/0')" class="btn btn-primary text-right" type="button"> Crear Proyecto </a>
            <br />
            <br />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let proyecto of proyectos;">
                        <th scope="row">{{ proyecto.nombreCliente }}</th>
                        <th>{{ proyecto.nombre }}</th>
                        <td>{{ proyecto.descripcion }} </td>
                        <td class="btn-table">
                            <button class="btn btn-primary" type="button" (click)="editar(proyecto.idProyecto)"> Editar
                            </button>&nbsp;
                            <button class="btn btn-danger" type="button" (click)="confirmarEliminar(proyecto)"> Eliminar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
        </mat-card-actions>
    </mat-card>
</div>