.date-picker {
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.mat-card {
    padding: 30px 50px;
}

.input-group {
    margin-bottom: 0 !important;
}
