<app-navigation></app-navigation>

<div class="container">
    <br />
    <mat-card>
        <mat-card-title *ngIf="cliente.idCliente === undefined">Crear Cliente</mat-card-title>
        <mat-card-title *ngIf="cliente.idCliente !== undefined">Editar Cliente</mat-card-title>
        <mat-card-subtitle class="subtitle-detal">
            Ingresa todos los campos requeridos y presiona guardar para registrar el cliente ó presiona atras para
            regresar a la pantalla anterior.
        </mat-card-subtitle>
        <br />
        <mat-card-actions>
            <form class="form-horizontal" #clienteForm="ngForm" (ngSubmit)="save()">
                <div class="mb-3 row">
                    <label for="inputRuc" class="col-sm-2 col-form-label">CIF</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="cliente.ruc" #inputRuc="ngModel"
                            placeholder="Identificación cliente" id="inputRuc" name="inputRuc" onlyLettersNumbers
                            onlyLettersNumbersValidation required>
                        <div *ngIf="inputRuc.invalid && (clienteForm.submitted || inputRuc.dirty || inputRuc.touched)"
                            class="alert alert-danger">
                            <div *ngIf="inputRuc.errors['required']">CIF es requerido</div>
                            <div *ngIf="inputRuc.errors['format']">No se permite caracteres especiales</div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" [(ngModel)]="cliente.nombre" #inputNombre="ngModel"
                            placeholder="Nombre cliente" id="inputNombre" name="inputNombre" required>
                        <div *ngIf="inputNombre.invalid && (clienteForm.submitted || inputNombre.dirty || inputNombre.touched)"
                            class="alert alert-danger">
                            <div>Nombre es requerido</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="tieneError" class="mb-3 row">
                    <div class="alert alert-danger">
                        <div>{{error}}</div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit"> Guardar</button>&nbsp;&nbsp;
                <a (click)="navegar('/clientes')" class="btn btn-secondary" type="button"> Atras </a>
            </form>
            <br />
        </mat-card-actions>
    </mat-card>
</div>