<app-navigation></app-navigation>

<div class="container">
    <br />
    <mat-card>
        <mat-card-title>Clientes</mat-card-title>
        <mat-card-subtitle>
            Ingresa uno o más filtros para buscar un cliente o da clic en el botón 'Crear' para registrar un nuevo
            Cliente.
        </mat-card-subtitle>
        <mat-card-actions>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label text-right col-md-3 col-form-label">Ruc:
                        </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" [(ngModel)]="cliente.ruc" placeholder="Ruc"
                                #inputRuc="ngModel" id="inputRuc" name="inputRuc" (ngModelChange)="filtrarLista($event)"
                                (paste)="filtrarLista($event)">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label text-right col-md-3 col-form-label">Cliente:
                        </label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" [(ngModel)]="cliente.nombre" placeholder="Cliente"
                                #inputCliente="ngModel" id="inputCliente" name="inputCliente"
                                (ngModelChange)="filtrarLista($event)" (paste)="filtrarLista($event)">
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-actions>
        <mat-card-actions>
            <a (click)="navegar('/clientes/editar/0')" class="btn btn-primary text-right" type="button"> Crear Cliente
            </a>
            <br />
            <br />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Ruc</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientesFiltro | slice: (page-1) * pageSize : page * pageSize">
                        <td>{{ cliente.ruc }}</td>
                        <td>{{ cliente.nombre }} </td>
                        <td class="btn-table">
                            <button class="btn btn-primary" type="button" (click)="editar(cliente.idCliente)"> Editar
                            </button>&nbsp;
                            <button class="btn btn-danger" type="button" (click)="confirmarEliminar(cliente)"> Eliminar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="clientesFiltro.length" [(page)]="page"
                [boundaryLinks]="true" [pageSize]="pageSize">
                <ng-template ngbPaginationPrevious>Atras</ng-template>
                <ng-template ngbPaginationNext>Sig.</ng-template>
            </ngb-pagination>
            <br />
        </mat-card-actions>
    </mat-card>
</div>